<tr>
  <td>
    <h4><%= item.product.name %></h4>
  </td>
  <td>
    <%= image_tag item.product.image.tiny %>
  </td>
  <td>
    <br>
    <p><%= item.product.description %></p>
  </td>
  <td>
    $<%= item.product.price %>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  <td>
    $<%= item.product.price * item.quantity %>
  </td>
</tr>
